
header, div, ul, img, h1, h2 ,h3, p, main, footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: white;
}
    
        /*.auto_relevo{position: relative; top: 0;}
        .auto_relevo:hover{top:-4px; box-shadow: 4px 4px 4px 4px rgb(51, 51, 49); transition: all .2s ease-in-out;}*/
    
    @media only screen and (max-width: 549px){



header .cabeçalho{
    width: 320px;
    background-color: rgb(63, 241, 218);
    margin: 10px auto 0;
    border: 2px solid black;
    
}
header .linha{
    
    margin-top: 10px;
    padding-left: 10px;
}
.imagem_esquerda{
    width: 250px;
    height: 185px;
    margin-left: 19px;
    margin-top: 5px;
}
header .dados{
    text-align: center;
    font-size: 1.1rem;
    
    color: black;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.4rem;
    margin-bottom: 26px;
    margin-top: 15px;

}
.imagem_direita{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 60px;
    margin-bottom: 30px;
  
}
ul{
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-content: center;
    width: 320px;
    margin: 20px auto 0;
}
li{
    display: inline-block;
width: 140px;
height: 44px;
padding: 0px;
padding-top: 15px;
/* border: 1px solid black; */
text-align: center;

    
}
.missa{
    background-color: white;
    
}
.clero{
    background-color: white;
    
}
.contato{
    background-color: white;
}
.missa a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.clero a{
    text-decoration: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.contato a{
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 13px;
    padding-top: 11px;
    padding-bottom: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


main .corpo{
    width: 320px;
    margin: 20px auto 0px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}
main .corpo img{
    width: 320px;
    margin-bottom: -4px;
    
}
footer .rodape{
    width: 320px;
    height: 170px;
    margin: 0px auto;
    background-color: rgb(22, 3, 3);
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
footer .sites{
   
    width: 370px;
}
footer .sites img{
    width: 60px;
    margin-top: 30px;
    margin-left: 32px;
}
footer .direitos{
    font-size: 1.1rem;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.copy{
    font-size: 0.8rem;
}
}

@media only screen and (min-width: 550px){

    body, div, img, ul, p, h1, h2, h3, span, header, main, footer{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    body{
        background-color: white;
    }
    header .cabeçalho{
        width: 90%;
        height: 260px;
        display: flex;
        background-color: rgb(63, 241, 218);
        margin: 10px auto 0;
        border: 2px solid black;
        align-content: center;
        
    }
   .cabeçalho .span1{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
   }
    .imagem_esquerda{
        width: 100%;
        
        
    }
    .cabeçalho .span2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    
    header .dados{
        text-align: center;
        font-size: 1.4rem;
        padding: 5px;
        color: black;
        font-family:'Courier New', Courier, monospace;
        line-height: 2rem;
        height:90%;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .cabeçalho .span3{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .span3 .imagem_direita{
        width: 80%;
    
        border-radius: 50%;
        
           
    }
    ul{
        /* background-color: coral; */
        display: flex;
        justify-content: center;
        align-content: center;
        width: 90%;
        margin: 0 auto 0;
    }
    li{
        display: inline-block;
    width: 140px;
    height: 44px;
    padding: 0px;
    padding-top: 10px;
    /* border: 1px solid black; */
    text-align: center;
        
    }
    .missa{
        background-color: white;
        margin-right:10%;
    }
    .clero{
        background-color: white;
        margin-right: 10%;
    }
    .contato{
        background-color: white;
    }
    .missa a{
        text-decoration: none;
        color: black;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 11px;
        padding-bottom: 12px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .clero a{
        text-decoration: none;
        color: black;
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 11px;
        padding-bottom: 12px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .contato a{
        text-decoration: none;
        color: black;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 11px;
        padding-bottom: 12px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .missa:hover{
        background-color: black;
        
        
    }
    .clero:hover{
        background-color: black;
       
    }
    .contato:hover{
        background-color: black;
    }
    a:hover{
        color: white;
    }

    main .corpo{
        width: 90%;
        margin: 0 auto 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    main .corpo img{
        width: 100%;
        margin-bottom: -4px;
    }
    footer .rodape{
        width: 90%;
        height: 130px;
        margin: 0px auto;
        background-color: rgb(87, 166, 255);
        margin-bottom: 10px;
        padding-bottom: 7px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        
       
    }
    footer .sites{
        /* background-color: beige; */
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
       
        
    }
    footer .sites img{
        width: 60px;
        margin: 10px 30px;
    }
    footer .direitos{
        font-size: 1.1rem;
        text-align: center;
        color: black;
        padding-top: 10px;
    }
    .copy{
        font-size: 0.8rem;
    }

    .whats{
        height: 50px;
        /* background-color: brown; */
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index:9999
    }
    .whats img{
        width: 180px;
    }
}