/* Página Clero*/
@media only screen and (max-width: 549px){

body{
    background-color: rgb(186, 186, 252);
}
.linhaclero{
    
    max-width: 320px;
    margin: 0 auto;
    margin-top: 20px;
    
}
.willian{
    
    line-height: 1.5rem;
    width: 320px;
    border-bottom: 2px solid black;

}
.willian img{
    padding: 10px 65px;
}
.willian p{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 4px;
}
.willian p span{
    font-size: 2.6rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.reinaldo{
    margin-top: 25px;
    line-height: 1.5rem;
    width: 320px;
    border-bottom: 2px solid black;
    
}
.reinaldo img{
    padding: 10px 65px;
}
.reinaldo p{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
}
.reinaldo p span{
    font-size: 2.6rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.valdeci{
    
    line-height: 1.5rem;
    width: 320px;
    margin-top: 25px;
    
}
.valdeci img{
    padding: 10px 65px;
}
.valdeci p{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 4px;
}
.valdeci p span{
    font-size: 2.6rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 0 3px;
}
.linhaclero .dados{
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 1.5rem;
}
button{
    background-color: rgb(10, 6, 245);
    color: white;
    width: 135px;
    height: 40px;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
}
button:hover{
    background-color: rgb(255, 238, 0);
    color: black;
    width: 135px;
    height: 40px;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
}
#botao{
    text-align: center;
    width: 320px;
    margin: 0 auto;
}
}
@media only screen and (min-width: 550px){
    /* Página Clero*/

body{
    background-color: rgb(186, 186, 252);
    height: 750px;
}
.linhaclero{
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: center;
    max-width: 90%;
    
    margin: 0 auto;
    margin-top: 20px;
    
}
.willian{
    /* background-color: aqua; */
    width: 33%;
    display: block;
    text-align: center;

}
.willian .img1{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: 15px;
   
}
.img1 img{
    width: 100%;
}
.willian .dados{
    width: 70%;
    height: 100%;
    display: block;
    margin: auto;
}
.willian .p1{
    height: 70px;
}
.willian p{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    
    
}
.willian p span{
    
    
    font-size: 2.6rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.reinaldo{
    /* background-color: rgb(60, 255, 0); */
    width: 33%;
    display: block;
    text-align: center;
}
.reinaldo .img2{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: 15px;
}
.img2 img{
    width: 100%;
}
.reinaldo .dados{
    width: 70%;
    height: 100%;
    display: block;
    margin: auto;
}
.reinaldo .p2{
    height: 70px;
    
}
.reinaldo p{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
}
.reinaldo p span{
   
    font-size: 2.6rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.valdeci{
    /* background-color: rgb(255, 238, 0); */
    width: 33%;
    display: block;
    text-align: center;
}
.valdeci .img3{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: 15px;
   
}
.img3 img{
    width: 100%;
}

.valdeci .dados{
    width: 70%;
    height: 100%;
    display: block;
    margin: auto;
}
.valdeci .p3{
    height: 70px;
}
.valdeci p{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
   
}
.valdeci p span{
    height: 50px;
    font-size: 2.6rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 0 3px;
}
.linhaclero .dados{
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 1.5rem;
}
button{
    background-color: rgb(10, 6, 245);
    color: white;
    width: 135px;
    height: 40px;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
}
button:hover{
    background-color: rgb(255, 238, 0);
    color: black;
    width: 135px;
    height: 40px;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
}
#botao{
    text-align: center;
    width: 100%;
}
}